#textAreaId .ant-form-item .ant-input-textarea-show-count::after {
  margin-top: 100px !important;
  margin-left: -50px !important;
  position: absolute !important;
}
#mobile div:last-child{
  margin-right: 0px !important;
}
.product-add-more-info{
  padding-left: 16px;
  color: #2979E7;
  cursor:pointer;
}
.word-style{
  display: block;
}
.word-style-hide{
  display: none;
}
