#textAreaId .ant-form-item .ant-input-textarea-show-count::after {
  margin-top: 100px !important;
  margin-left: -50px !important;
  position: absolute !important;
}
#mobile div:last-child{
  margin-right: 0px !important;
}
.product-add-more-info{
  padding-left: 16px;
  color: #2979E7;
  cursor:pointer;
}
.word-style{
  display: block;
}
.word-style-hide{
  display: none;
}
.add-product-option-button{
  position: absolute;
  top: 90vh;
  height: 10vh;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px 0px rgb(200 200 6.66666667%);
  width: 50vw;
}
