.logo {
	height: 32px;
	background: rgba(255, 255, 255, 0.2);
	margin: 16px;
}
.ant-breadcrumb > span:last-child  a{
	color:#000;
}
.logoutIcon{
	float: right;
    margin-right: 20px;
    font-size: 24px;
    color: #bbb;
    cursor: pointer;
}
.loginUser{
	float: right;
    margin-right: 20px;
    font-size: 16px;
    color: #1890ff;
}
.lingdangIcon{
  float: right;
  margin-right: 20px;
  font-size: 23px;
  color: #1A1A1A;
  cursor: pointer;
}
.docCenter{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #1A1A1A;
  float: right;
  margin-right: 20px;
}
.title-search{
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #1A1A1A;
  float: right;
  margin-right: 4px;
  margin-top: 12.5px;
}
.title-search .ant-input-affix-wrapper{
  background: #F7F7F7 !important;
}
.title-search .ant-btn{
  border: 0px solid !important;
  background: #F7F7F7 !important;
}
#menubar .ant-menu-sub.ant-menu-inline{
  background: #F7F7F7 !important;
}
#menubar .ant-menu-inline .ant-menu-item::after{
  border-top: 21px solid transparent !important;
  border-right: 7px solid #1890ff !important;
  border-bottom: 21px solid transparent !important;
}
#menubar .ant-menu-item-selected{
  background:#e6f7ff !important;
}
